.App {
  text-align: center;
  display: grid;
  grid-template-areas: "header header" "nav main";
  grid-template-columns: 100px auto;
  grid-template-rows: 100px auto;
}

.header {
  grid-area: header;
  border: 1px solid black;
}

.nav {
  grid-area: nav;
  border: 1px solid black;
}

.main {
  grid-area: main;
  border: 1px solid black;
}
