/* .App {
  text-align: center;
  display: grid;
  grid-template-areas: ". header ." ". navbar ." ". main .";
  grid-template-columns: 100px auto 100px;
  align-items: center;
  grid-row-gap: 50px;
  padding: 50px;
  background-color: grey;
}

.header {
  grid-area: header;
  border: 1px solid honeydew;
}

.logo-container {
  border: 2px solid lightcoral;
}

.logo-container:hover {
  transform: scale(1.25);
}

.logged-user-container {
  border: 2px solid lightsalmon;
}

.navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  grid-column-gap: 50px;
  text-align: left;
}

.navbar-elements {
  border: 1px solid grey;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  transition: transform 0.25s ease-out;
}

.nav-elements:hover {
  transform: scale(1.015);
}

.main {
  grid-area: main;
  border: 1px solid grey;
  grid-column-gap: 50px;
  text-align: left;
}

.card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.015);
}

.card-content {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

a {
  text-decoration: none;
} */
